<%- include('../../partials/header.ejs') %>
    <div class="toolbar py-2" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex align-items-center">
            <div class="flex-grow-1 flex-shrink-0 me-5 flex-wrap"></div>
            <div class="d-flex align-items-center flex-wrap">
                <div class="flex-shrink-0 me-2">
                    <h1 class="d-flex align-items-center text-dark fw-bold my-1 fs-3"><a href="/admin/dashboard">Dashboard</a>
                        <span class="h-20px border-gray-200 border-start ms-3 mx-2">/</span>
                        <small class="text-muted fs-7 fw-semibold my-1 ms-1"><%= pageName %></small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div id="kt_content_container" class="container-xxl">
            <div class="card card-flush">
                <!--begin::Card header-->
                <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                    <!--begin::Card title-->
                    <div class="card-title">
                        <span class="card-label fw-bold fs-3"><%= data.pageTitle %></span>
                        <!--begin::Search-->
                        <div class="d-flex align-items-center position-relative my-1">

                        </div>
                        <!--end::Search-->
                    </div>

                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <form id="form" method="post">
                        <input type="hidden" name="legal_type" id="legal_type" value="<%= data.pageName %>">

                        <div class="card-body">
                            <div class="col-12 mt-3">
                                <label class="required form-label"><%= data.pageTitle %></label>
                                <textarea class="ckeditor form-control" name="description" id="description"><%= data.description %></textarea>
                            </div>
                        </div>

                        <div class="card-footer d-flex justify-content-end py-6 px-9">
                            <a class="btn btn-light btn-active-light-primary me-2" onclick="cancelSubAdmin()">Cancel</a>
                            <button type="submit" class="btn btn-primary">
                                <span class="indicator-label">
                                    Save
                                </span>
                                <span class="indicator-progress">
                                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
        <%- include('../../partials/footerScript.ejs') %>
            <script src="<%= siteUrl %>assets/plugins/custom/ckeditor/ckeditor.js"></script>

            <script>
                function cancelSubAdmin() {
                    window.location.href = '<%= routeUrl %>dashboard'
                }

                CKEDITOR.replace('description');
                CKEDITOR.config.height = 400;
                var message
                var name = $("#legal_type").val();

                var url = "<%= routeUrl %>cms/" + name;

                $('#form').validate({
                    rules: {

                    },
                    messages: {

                    },
                    submitHandler: function(form) {
                        $(".flash_message").remove();
                        message = CKEDITOR.instances['description'].getData();
                        var description = message
                        $.ajax({
                            url: url,
                            method: 'POST',
                            data: {
                                description: description
                            },
                            beforeSend: function() {
                                $("#form").find('button[type=submit]').attr("data-kt-indicator", "on").attr('disabled', true);
                            },
                            success: function(response) {
                                $("#form").find('button[type=submit]').attr("data-kt-indicator", "on").attr('disabled', true);
                                if (response.success == true) {
                                    console.log();
                                    var title = "CMS updated successfully."
                                    var routeurl = "<%= routeUrl %>cms/" + name
                                    toastr.success(title);
                                    setTimeout(function() {
                                        window.location.href = routeurl;
                                    }, 1000);
                                    // Swal.fire({
                                    //     title: title,
                                    //     icon: "success",
                                    //     type: "success",
                                    //     showCancelButton: false,
                                    //     confirmButtonClass: "btn-danger",
                                    //     confirmButtonText: "Ok",
                                    //     closeOnConfirm: true,
                                    // }).then((result) => {
                                    //     if (result.isConfirmed) {
                                    //         window.location.href = url;
                                    //     }
                                    // })
                                } else {
                                    $("#form").find('button[type=submit]').attr("data-kt-indicator", "off").attr('disabled', false);
                                    toastr.error(title);
                                    // $("<div class='flash_message alert alert-danger' role='alert'><span>" + response.error + "</span></div>").insertBefore("form");
                                }
                            },
                            error: function(response) {
                                console.log(response);
                            }
                        })
                    }
                })
            </script>

            </body>

            </html>