<%- include('../../partials/header.ejs') %>
<%- include('../../partials/sidebar.ejs') %>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <!-- <h1></h1> -->
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item active">Chnage Password</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                <div class="card card-primary">
                <div class="card-header">
                <h3 class="card-title">Chnage Password</h3>
                </div>
                <form id="change-password-form" name="change-password-form" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Old Password</label>
                            <input type="password" id="oldpassword" name="oldpassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">New Password</label>
                            <input type="password" id="newpassword" name="newpassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                </div>
                </div>
            </div>
        </div>
        </section>
</div>
 

    <%- include('../../partials/footer.ejs') %>

            <script>
                function cancel() {
                    window.location.href = '<%= routeUrl %>profile'
                }
                var url = "<%= routeUrl %>chnage-password";
                $(document).ready(function() {
                    jQuery.validator.addMethod("noSpace", function(value, element) {
                        return value.indexOf(" ") < 0 && value != "";
                    }, "No space please and don't leave it empty");

                    $('#change-password-form').validate({
                        rules: {
                            oldpassword: {
                                required: true,
                                noSpace: true
                            },
                            newpassword: {
                                required: true,
                                noSpace: true
                            },
                            confirmpassword: {
                                required: true,
                                noSpace: true,
                            }
                        },
                        messages: {
                            oldpassword: {
                                required: "Please enter old password",
                                noSpace: "Space not allow",
                            },
                            newpassword: {
                                required: "Please enter new password",
                                noSpace: "Space not allow",
                            },
                            confirmpassword: {
                                required: "Please enter confirm password",
                                noSpace: "Space not allow",
                            },
                        },
                        submitHandler: function(form) {
                            $(".flash_message").remove();
                            var oldpassword = $('#oldpassword').val();
                            var newpassword = $('#newpassword').val();
                            var confirmpassword = $('#confirmpassword').val();
                            $.ajax({
                                url: url,
                                method: 'post',
                                data: {
                                    oldpassword: oldpassword,
                                    newpassword: newpassword,
                                    confirmpassword: confirmpassword
                                },
                                beforeSend: function() {
                                    $("#change-password-form").find('button[type=submit]').attr("data-kt-indicator", "on").attr('disabled', true);
                                },
                                success: function(response) {
                                    $("#change-password-form").find('button[type=submit]').attr("data-kt-indicator", "on").attr('disabled', true);
                                    if (response.success == true) {
                                        var title = "New password updated successfully."
                                        var routeurl = "<%= routeUrl %>profile"
                                        toastr.success(title);
                                        setTimeout(function() {
                                            window.location.href = routeurl;
                                        }, 1000);
                                    } else {
                                        $("#change-password-form").find('button[type=submit]').attr("data-kt-indicator", "off").attr('disabled', false);
                                        toastr.error(response.error);
                                        // $("<div class='flash_message alert alert-danger' role='alert'><span>" + response.error + "</span></div>").insertBefore("form");
                                    }
                                },
                                error: function(response) {
                                    console.log(response);
                                }
                            })
                        }
                    });
                });
            </script>

            </body>

            </html>