<%- include('../../partials/header.ejs') %>
<%- include('../../partials/sidebar.ejs') %>
<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <!-- <h1></h1> -->
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item active"><%= pageName %></li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
      <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-primary">
                    <div class="card-header">
                    <h3 class="card-title">Profile</h3>
                    </div>
                    <form id="profile-form" name="change-password-form" method="post">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="exampleInputPassword1">Name</label>
                                <input type="text" id="name" name="name" class="form-control" id="exampleInputPassword1" placeholder="Name" value="<%= user.name %>">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Email</label>
                                <input type="email" id="email" name="email" class="form-control" id="exampleInputPassword1" placeholder="email" value="<%= user.email%>" readonly>
                            </div>
                            
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </form>
                    </div>
                    </div>
                <div class="col-md-6">
                <div class="card card-primary">
                <div class="card-header">
                <h3 class="card-title">Change Password</h3>
                </div>
                <form id="change-password-form" name="change-password-form" method="post">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Old Password</label>
                            <input type="password" id="oldpassword" name="oldpassword" class="form-control" id="exampleInputPassword1" placeholder="Old Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">New Password</label>
                            <input type="password" id="newpassword" name="newpassword" class="form-control" id="exampleInputPassword1" placeholder="New Password">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirm Password</label>
                            <input type="password" id="confirmpassword" name="confirmpassword" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
                </div>
                </div>
            </div>
        </div>
        </section>
</div>
 

    <%- include('../../partials/footer.ejs') %>

            <script>
                function cancel() {
                    window.location.href = '<%= routeUrl %>profile'
                }
                var url = "<%= routeUrl %>chnagepassword";
                var url2 = "<%= routeUrl %>editprofile";
                $(document).ready(function() {
                    jQuery.validator.addMethod("noSpace", function (value, element) {
                    // return value.indexOf(" ") < 0 && value != "";
                    return value == '' || value.trim().length != 0;  
                    }, "No space please and don't leave it empty");

                    $('#change-password-form').validate({
                        rules: {
                            oldpassword: {
                                required: true,
                                noSpace: true
                            },
                            newpassword: {
                                required: true,
                                noSpace: true
                            },
                            confirmpassword: {
                                required: true,
                                noSpace: true,
                            }
                        },
                        messages: {
                            oldpassword: {
                                required: "Please enter old password",
                                noSpace: "No space please and don't leave it empty",
                            },
                            newpassword: {
                                required: "Please enter new password",
                                noSpace: "No space please and don't leave it empty",
                            },
                            confirmpassword: {
                                required: "Please enter confirm password",
                                noSpace: "No space please and don't leave it empty",
                            },
                        },
                        submitHandler: function(form) {
                            $(".flash_message").remove();
                            var oldpassword = $('#oldpassword').val();
                            var newpassword = $('#newpassword').val();
                            var confirmpassword = $('#confirmpassword').val();
                            $.ajax({
                                url: url,
                                method: 'post',
                                data: {
                                    oldpassword: oldpassword,
                                    newpassword: newpassword,
                                    confirmpassword: confirmpassword
                                },
                                beforeSend: function() {
                                    $("#change-password-form").find('button[type=submit]').attr("data-kt-indicator", "on").attr('disabled', true);
                                },
                                success: function(response) {
                                    $("#change-password-form").find('button[type=submit]').attr("data-kt-indicator", "on").attr('disabled', true);
                                    if (response.success == true) {
                                        var title = "New password updated successfully."
                                        var routeurl = "<%= routeUrl %>dashboard"
                                        toastr.success(title);
                                        setTimeout(function() {
                                            window.location.href = routeurl;
                                        }, 1000);
                                    } else {
                                        $("#change-password-form").find('button[type=submit]').attr("data-kt-indicator", "off").attr('disabled', false);
                                        toastr.error(response.error);
                                        // $("<div class='flash_message alert alert-danger' role='alert'><span>" + response.error + "</span></div>").insertBefore("form");
                                    }
                                },
                                error: function(response) {
                                    console.log(response);
                                }
                            })
                        }
                    });

                    $('#profile-form').validate({
                        rules: {
                            name: {
                                required:true,
                                noSpace: true
                            },
                        },
                        messages: {
                            name: {
                                required: "Please enter name",
                                noSpace: "Space not allow",
                            }
                        },
                        submitHandler: function(form) {
                            $(".flash_message").remove();
                            var name = $('#name').val();
                            $.ajax({
                                url: url2,
                                method: 'post',
                                data: {
                                    name: name,
                                },
                                beforeSend: function() {
                                    $("#profile-form").find('button[type=submit]').attr("data-kt-indicator", "on").attr('disabled', true);
                                },
                                success: function(response) {
                                    $("#profile-form").find('button[type=submit]').attr("data-kt-indicator", "on").attr('disabled', true);
                                    if (response.success == true) {
                                        var title = "Profile updated successfully."
                                        var routeurl = "<%= routeUrl %>dashboard"
                                        toastr.success(title);
                                        setTimeout(function() {
                                            window.location.href = routeurl;
                                        }, 1000);
                                    } else {
                                        $("#profile-form").find('button[type=submit]').attr("data-kt-indicator", "off").attr('disabled', false);
                                        toastr.error(response.error);
                                        // $("<div class='flash_message alert alert-danger' role='alert'><span>" + response.error + "</span></div>").insertBefore("form");
                                    }
                                },
                                error: function(response) {
                                    console.log(response);
                                }
                            })
                        }
                    });
                });
            </script>

            </body>

            </html>