<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AdminLTE 3 | Log in</title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="<%= siteUrl %>assets/plugins/fontawesome-free/css/all.min.css">
  <!-- icheck bootstrap -->
  <link rel="stylesheet" href="<%= siteUrl %>assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="<%= siteUrl %>assets/css/adminlte.min.css">
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Admin</b>Login</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">Sign in to start your session</p>

      <form id="form" method="post" >
        <label id="email-error" class="error" for="email"></label>
        <div class="input-group mb-3">
          <input type="email" id="email" name="email" class="form-control" placeholder="Email">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <label id="password-error" class="error" for="password"></label>
        <div class="input-group mb-3">
          <input type="password" id="password" name="password" class="form-control" placeholder="Password">
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
      </br>
        <button type="submit" class="btn btn-primary btn-block" id="onSubmit" >Sign In</button>
      </form>

    </div>
    <!-- /.login-card-body -->
  </div>
</div>
<!-- /.login-box -->

<!-- jQuery -->
<script src="<%= siteUrl %>assets/plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="<%= siteUrl %>assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="<%= siteUrl %>assets/js/adminlte.min.js"></script>
<script src="<%= siteUrl %>assets/js/jquery.validate.min.js"></script>
<style>
  .error {
      color: red;
  }
</style>
<script>

  $(document).on("click","#onSubmit",function(){
    $(".flash_message").remove();
  })
  var url = "<%= routeUrl %>login";
  $(".flash_message").remove();
  $('#form').validate({
      rules: {
          email: {
              required: true,
              email: true
          },
          password: {
              required: true,
          },
      },
      messages: {
          email: {
              required: "Please enter email.",
              email: "Please enter a valid email address.",
          },
          password: {
              required: "Please enter password.",
          },
      },
      submitHandler: function(form) {
          $(".flash_message").remove();
          var email = $('#email').val();
          var password = $('#password').val();
          $.ajax({
              url: url,
              method: 'post',
              data: {
                  email: email,
                  password: password
              },
              beforeSend: function() {
                  $("#form").find('button[type=submit]').attr('disabled', true).html('Please wait... <i class="fa fa-spin fa-spinner"></i>');
              },
              success: function(response) {
                  $("#form").find('button[type=submit]').attr('disabled', true).html('Please wait... <i class="fa fa-spin fa-spinner"></i>');
                  if (response.success == true) {
                      window.location.href = "<%= routeUrl %>dashboard";
                  } else {
                      $("#form").find('button[type=submit]').attr('disabled', false).html('Login');
                      $("<div class='flash_message alert alert-danger' role='alert'><span>" + response.error + "</span></div>").insertBefore("form");
                  }
              },
              error: function(response) {
                  console.log(response);
              }
          })
      }
  });
</script>
</body>
</html>
