<%- include('../../partials/header.ejs') %>
    <div class="toolbar py-2" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex align-items-center">
            <div class="flex-grow-1 flex-shrink-0 me-5 flex-wrap"></div>
            <div class="d-flex align-items-center flex-wrap">
                <div class="flex-shrink-0 me-2">
                    <h1 class="d-flex align-items-center text-dark fw-bold my-1 fs-3"><a href="/admin/dashboard">Dashboard</a>
                        <span class="h-20px border-gray-200 border-start ms-3 mx-2">/</span>
                        <small class="text-muted fs-7 fw-semibold my-1 ms-1"><%= pageName %></small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div id="kt_content_container" class="container-xxl">
            <div class="card card-flush">
                <div class="card-body pt-0">
                    <div class="d-flex align-items-center">
                        <div class="mb-0">
                            <label class="form-label">Date filter</label>
                            <input class="form-control form-control-solid" placeholder="Pick date rage" id="kt_daterangepicker_1" />
                        </div>
                    </div>
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="post-list">
                        <thead>
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                <th>No</th>
                                <th>User name</th>
                                <th>Title</th>
                                <th>Place</th>
                                <th>Place of interests</th>
                                <th>Events</th>
                                <th>Pepole</th>
                                <th>Status</th>
                                <th>Create At</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="fw-semibold text-gray-600" class="text-center">
                            <% for(let i=0; i < data.length; i++) { %>
                                <tr>
                                    <td>
                                        <span class="fw-bold"><%= i+1 %></span>
                                    </td>
                                    <td>
                                        <span class="fw-bold pointer"><%= data[i].user.length > 0 ? data[i].user[0].userName : "-"  %></span>
                                    </td>
                                    <td>
                                        <span class="fw-bold" style="cursor: pointer;"><a href="<%= routeUrl %>post/details/<%= data[i]._id %>">  <%= data[i].title ? data[i].title : "-"  %></a> </span>
                                    </td>
                                    <td>
                                        <% if(data[i].palces.length > 0){ %>
                                            <% for(let p=0; p < data[i].palces.length; p++) { %>
                                                <span class="fw-bold badge badge-light-primary"><%= data[i].palces[p].city %>, <%= data[i].palces[p].state %>, <%= data[i].palces[p].country %></span></br>
                                                <%}%>
                                                    <% }else{ %>
                                                        <span class="fw-bold"> - </span>
                                                        <% }%>
                                    </td>
                                    <td>
                                        <% if(data[i].palcesOfInterests.length > 0){ %>
                                            <% for(let o=0; o < data[i].palcesOfInterests.length; o++) { %>
                                                <span class="fw-bold badge badge-light-primary"><%= data[i].palcesOfInterests[o].name %></span></br>
                                                <%}%>
                                                    <% }else{ %>
                                                        <span class="fw-bold"> - </span>
                                                        <% }%>
                                    </td>
                                    <td>
                                        <% if(data[i].events.length > 0){ %>
                                            <% for(let e=0; e < data[i].events.length; e++) { %>
                                                <span class="fw-bold badge badge-light-primary"><%= data[i].events[e].name %></span></br>
                                                <%}%>
                                                    <% }else{ %>
                                                        <span class="fw-bold"> - </span>
                                                        <% }%>
                                    </td>
                                    <td>
                                        <% if(data[i].pepole.length > 0){ %>
                                            <% for(let x=0; x < data[i].pepole.length; x++) { %>
                                                <span class="fw-bold badge badge-light-primary"><%= data[i].pepole[x].userName %></span></br>
                                                <%}%>
                                                    <% }else{ %>
                                                        <span class="fw-bold"> - </span>
                                                        <% }%>
                                    </td>
                                    <td>
                                        <% if(data[i].isActive) { %>
                                            <span class="fw-bold badge badge-light-success">Active</span>
                                            <%}else{%>
                                                <span class="fw-bold badge badge-light-danger">Deactive</span>
                                                <% } %>
                                    </td>
                                    <td>
                                        <span class="fw-bold"><%= data[i].createdAt.toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"}) %></span>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-solid form-switch" style="display: inline-block;">
                                            <input class="form-check-input w-45px h-30px " type="checkbox" id="customSwitch<%= data[i].id %>" name="isActive" onchange="activeToggle('<%= data[i]._id %>')" <% if (data[i].isActive) { %> checked
                                            <% } %> >
                                                <label class="form-check-label" for="allowmarketing"></label>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
        <%- include('../../partials/footerScript.ejs') %>
            <script src="<%= siteUrl %>assets/plugins/custom/datatables/datatables.bundle.js"></script>
            <script>
                var dt;

                function initDataTable() {
                    dt = $("#post-list").DataTable({
                        columnDefs: [{
                            "orderable": false,
                            "targets": [9]
                        }, ],
                        paging: true,
                        pageLength: 10,
                        lengthChange: false,
                        dom: "<'row'" +
                            "<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
                            "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
                            ">" +

                            "<'table-responsive'tr>" +

                            "<'row'" +
                            "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                            "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                            ">"
                    })
                }
                initDataTable();
                var startDate = null,
                    endDate = null;

                var n = $("#kt_daterangepicker_1").daterangepicker({
                    maxDate: new Date(),
                });
                n.on('apply.daterangepicker', function(ev, picker) {
                    startDate = picker.startDate.format('YYYY-MM-DD');
                    endDate = picker.endDate.format('YYYY-MM-DD');
                    updateData(startDate, endDate);
                });
                n.on('cancel.daterangepicker', function(ev, picker) {
                    var routurl = "<%= routeUrl %>post"
                    window.location.href = routurl;
                });

                function updateData(start_date = null, end_date = null) {
                    $(document).ready(function() {
                        var url = '<%= routeUrl %>postss'
                        $.ajax({
                            method: 'POST',
                            url: url,
                            data: {
                                start_date: start_date,
                                end_date: end_date
                            },
                            success: function(response) {
                                var no = 0;
                                var content = '';
                                var palces = '';
                                var palcesOfInterests = '';
                                var events = '';
                                var pepole = '';
                                response.forEach((res) => {
                                    palces = ''
                                    palcesOfInterests = ''
                                    events = ''
                                    pepole = ''
                                    no = no + 1;

                                    content += '<tr>';
                                    content += '<td>' + no + '</td>';
                                    content += '<td><span class="fw-bold pointer">' + res.user[0].userName + '</span></td>';
                                    content += '<td><span class="fw-bold" style="cursor: pointer;"><a href="<%= routeUrl %>post/details/' + res._id + ' "> ' + res.title + ' </a> </span></td>'
                                    if (res.palces.length > 0) {
                                        res.palces.forEach((element) => {
                                            palces += '<span class="fw-bold badge badge-light-primary">' + element.city + "," + element.state + "," + element.country + "," + '</span></br>';
                                        })
                                    } else {
                                        palces += '<span class="fw-bold">' + "-" + '</span>';
                                    }
                                    content += '<td>' + palces + '</td>';
                                    if (res.palcesOfInterests.length > 0) {
                                        res.palcesOfInterests.forEach((element) => {
                                            palcesOfInterests += '<span class="fw-bold badge badge-light-primary">' + element.name + '</span></br>';
                                        });
                                    } else {
                                        palcesOfInterests += '<span class="fw-bold">' + "-" + '</span>';
                                    }
                                    content += '<td>' + palcesOfInterests + '</td>';
                                    if (res.events.length > 0) {
                                        res.events.forEach((element) => {
                                            events += '<span class="fw-bold badge badge-light-primary">' + element.name + '</span></br>';
                                        });
                                    } else {
                                        events += '<span class="fw-bold">' + "-" + '</span>';
                                    }
                                    content += '<td>' + events + '</td>';
                                    if (res.pepole.length > 0) {
                                        res.pepole.forEach((element) => {
                                            pepole += '<span class="fw-bold badge badge-light-primary">' + element.userName + '</span></br>';
                                        });
                                    } else {
                                        pepole += '<span class="fw-bold">' + "-" + '</span>';
                                    }
                                    content += '<td>' + pepole + '</td>';
                                    var status;
                                    var check = "";
                                    if (res.isActive) {
                                        status = '<span class="fw-bold badge badge-light-success">Active</span>'
                                        check = "checked";
                                    } else {
                                        status = '<span class="fw-bold badge badge-light-danger">Deactive</span>'
                                    }
                                    content += '<td>' + status + '</td>';
                                    var date = new Date(res.createdAt).toLocaleDateString('en-us', {
                                        year: "numeric",
                                        month: "short",
                                        day: "numeric"
                                    });
                                    content += '<td><span class="fw-bold">' + date + '</span></td>';
                                    content += `<td><div class="form-check form-check-solid form-switch" style="display: inline-block;">
                                        <input class="form-check-input w-45px h-30px " type="checkbox" id="customSwitch` + res._id + `" name="isActive" onchange="activeToggle(\'` + res._id + `\')" ` + check + ` >
                                                <label class="form-check-label" for="allowmarketing"></label>
                                        </div></td>`;
                                    content += '</tr>';
                                });

                                dt.destroy();
                                $('#post-list tbody').html(content);
                                initDataTable();
                            }
                        })
                    })
                }

                function activeToggle(id) {
                    var url = "<%= routeUrl %>post/status"
                    $.ajax({
                        url: url,
                        method: 'post',
                        data: {
                            id: id
                        },
                        success: function(res) {
                            var title = "Post active/deactive successfully."
                            var routeurl = "<%= routeUrl %>post"
                            toastr.success(title);
                            setTimeout(function() {
                                window.location.href = routeurl;
                            }, 1000);
                        }

                    })
                }
            </script>

            </body>

            </html>