<%- include('../../partials/header.ejs') %>
    <div class="toolbar py-2" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex align-items-center">
            <div class="flex-grow-1 flex-shrink-0 me-5 flex-wrap"></div>
            <div class="d-flex align-items-center flex-wrap">
                <div class="flex-shrink-0 me-2">
                    <h1 class="d-flex align-items-center text-dark fw-bold my-1 fs-3"><a href="/admin/dashboard">Dashboard</a>
                        <span class="h-20px border-gray-200 border-start ms-3 mx-2">/</span>
                        <small class="text-muted fs-7 fw-semibold my-1 ms-1"><a href="/admin/users">User List</a></small>
                        <span class="h-20px border-gray-200 border-start ms-3 mx-2">/</span>
                        <small class="text-muted fs-7 fw-semibold my-1 ms-1"><%= pageName %></small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div id="kt_content_container" class="container-xxl">
            <div class="d-flex flex-column flex-xl-row">
                <div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
                    <div class="card mb-5 mb-xl-8">
                        <div class="card-body pt-15">
                            <div class="d-flex flex-center flex-column mb-5">
                                <div class="symbol symbol-150px symbol-circle mb-7">
                                    <% if(!data.profilePhoto) { %>
                                        <img src="<%= siteUrl %>assets/media/avatars/300-1.jpg" alt="image" />
                                        <%}else{ %>
                                            <img src="<%= siteUrl %><%= data.profilePhoto %>" alt="image" />
                                            <%}%>
                                </div>
                                <a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bold mb-1">
                                    <%= data.userName %>
                                </a>
                                <a href="#" class="fs-5 fw-semibold text-muted text-hover-primary mb-6">
                                    <%= data.email %>
                                </a>
                            </div>
                            <div class="d-flex flex-stack fs-4 py-3">
                                <div class="fw-bold">Details</div>
                                <div class="badge badge-light-info d-inline">
                                    <%= data.isActive ? "Active": "Deactive" %>
                                </div>
                            </div>
                            <div class="separator separator-dashed my-3"></div>
                            <div class="pb-5 fs-6">
                                <div class="fw-bold mt-5">First Name</div>
                                <div class="text-gray-600">
                                    <%= data.firstName ? data.firstName : "-" %>
                                </div>

                                <div class="fw-bold mt-5">Last Name</div>
                                <div class="text-gray-600">
                                    <%= data.firstName ? data.lastName : "-" %>
                                </div>

                                <div class="fw-bold mt-5">User Profile</div>
                                <div class="text-gray-600">
                                    <%= data.userStatus ? "Public" : "Private" %>
                                </div>

                                <div class="fw-bold mt-5">User Account Status (self)</div>
                                <div class="text-gray-600">
                                    <%= data.selfDeactivate ? "Active" : "InActive" %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex-lg-row-fluid ms-lg-15">
                    <div class="row row-cols-1 row-cols-md-3 mb-6 mb-xl-9">
                        <div class="col">
                            <a class="card bg-primary hoverable h-md-100">
                                <div class="card-body">
                                    <span class="text-white fw-bold fs-1 mt-5"><%= data.postData.length %></span>
                                    <div class="text-white fw-bold fs-2 mt-5">Posts</div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a class="card bg-primary hoverable h-md-100">
                                <div class="card-body">
                                    <span class="text-white fw-bold fs-1 mt-5"><%= data.follwerData.length %></span>
                                    <div class="text-white fw-bold fs-2 mt-5">Followers</div>
                                </div>
                            </a>
                        </div>
                        <div class="col">
                            <a class="card bg-primary hoverable h-md-100">
                                <div class="card-body">
                                    <span class="text-white fw-bold fs-1 mt-5"><%= data.friendList.length %></span>
                                    <div class="text-white fw-bold fs-2 mt-5">Following</div>
                                </div>
                            </a>
                        </div>
                    </div>
                    <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
                        <li class="nav-item">
                            <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_ecommerce_customer_overview">Post</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-active-primary pb-4 " data-bs-toggle="tab" href="#kt_ecommerce_customer_general">Report</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="kt_ecommerce_customer_overview" role="tabpanel">
                            <div class="card pt-4 mb-6 mb-xl-9">
                                <div class="card-header border-0">
                                    <div class="card-title">
                                        <h2>Post</h2>
                                    </div>
                                </div>
                                <div class="card-body pt-0 pb-5">
                                    <table class="table align-middle table-row-dashed gy-5" id="posts-tabel">
                                        <thead class="border-bottom border-gray-200 fs-7 fw-bold">
                                            <tr class="text-start text-muted text-uppercase gs-0">
                                                <th class="min-w-100px">No</th>
                                                <th>Title</th>
                                                <th>Caption</th>
                                                <th>Status</th>

                                            </tr>
                                        </thead>
                                        <tbody class="fs-6 fw-semibold text-gray-600">
                                            <% for(let p=0; p < data.postData.length; p++) { %>
                                                <tr>
                                                    <td>
                                                        <%= p+1 %>
                                                    </td>
                                                    <td>
                                                        <%= data.postData[p].title %>
                                                    </td>
                                                    <td>
                                                        <%= data.postData[p].caption %>
                                                    </td>
                                                    <td>
                                                        <%= (data.postData[p].postStatus) ? "Active" : "Deactive" %>
                                                    </td>

                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="kt_ecommerce_customer_general" role="tabpanel">
                            <div class="card pt-4 mb-6 mb-xl-9">
                                <div class="card-header border-0">
                                    <div class="card-title">
                                        <h2>Pofile Report</h2>
                                    </div>
                                </div>
                                <div class="card-body pt-0 pb-5">
                                    <table style="width: 100% !important;" class="table align-middle table-row-dashed gy-5" id="report-user-tabel">
                                        <thead class="border-bottom border-gray-200 fs-7 fw-bold">
                                            <tr class="text-start text-muted text-uppercase gs-0">
                                                <th>No</th>
                                                <th>User Name</th>
                                                <th>Category</th>
                                                <th>Description</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                        <tbody class="fs-6 fw-semibold text-gray-600">
                                            <% for(let i=0; i < data.userReportData.length; i++) { %>
                                                <tr>
                                                    <td>
                                                        <%= i+1 %>
                                                    </td>
                                                    <td>
                                                        <%= data.userReportData[i].user[0].userName %>
                                                    </td>
                                                    <td>
                                                        <%= data.userReportData[i].category %>
                                                    </td>
                                                    <td>
                                                        <%= data.userReportData[i].description %>
                                                    </td>
                                                    <td>
                                                        <%= data.userReportData[i].createdAt.toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"}) %>
                                                    </td>
                                                </tr>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include('../../partials/footer.ejs') %>
        <%- include('../../partials/footerScript.ejs') %>
            <script src="<%= siteUrl %>assets/plugins/custom/datatables/datatables.bundle.js"></script>
            <script>
                $("#report-user-tabel").DataTable({
                    columnDefs: [{
                        "orderable": false,
                        "targets": [0]
                    }, ],
                    scrollX: true,
                    paging: true,
                    pageLength: 5,
                    lengthChange: false,
                    // dom: "<'row'" +
                    //     "<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
                    //     "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
                    //     ">" +

                    //     "<'table-responsive'tr>" +

                    //     "<'row'" +
                    //     "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                    //     "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                    //     ">"
                })
                $("#posts-tabel").DataTable({
                    columnDefs: [{
                        "orderable": false,
                        "targets": [0]
                    }, ],
                    scrollX: true,
                    paging: true,
                    pageLength: 5,
                    lengthChange: false,
                    // dom: "<'row'" +
                    //     "<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
                    //     "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
                    //     ">" +

                    //     "<'table-responsive'tr>" +

                    //     "<'row'" +
                    //     "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                    //     "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                    //     ">"
                })
            </script>
            </body>

            </html>