<%-include('../../partials/header.ejs') %>
  <%-include('../../partials/sidebar.ejs') %>

    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Games</h1>
            </div>
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
                <li class="breadcrumb-item active">Games</li>
              </ol>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>

      <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <button type="button" id="add-game" class="btn btn-primary" data-toggle="modal"
                    data-target="#modal-default">
                     Add Games
                  </button>
                  <!-- <h3 class="card-title">DataTable with minimal features & hover style</h3> -->
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Game Name</th>
                        <th>Team One</th>
                        <th>Team two</th>
                        <th>Expect Team</th>
                        <th>Place</th>
                        <th>Start Date</th>
                        <th>Sport</th>
                        <th>Winner Announce</th>
                        <th>Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="modal fade" id="modal-default">
        <div class="modal-dialog">
          <form name="game-form" id="game-form" method="post">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"><Span class="div-class"></Span> Games</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Name</label>
                    <input type="text" name="name" class="form-control" id="name" placeholder="Enter name">
                    <input type="hidden" name="id" id="game_id">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Place</label>
                    <textarea name="place" class="form-control" id="place" placeholder="Enter place"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Start Data</label>
                    <input type="text" name="start_date" class="form-control" id="start_date" placeholder="Enter start date">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Select Team One</label>
                    <select name="team_one" id="team_one" class="form-control">
                        <option value="">Select Team</option>
                        <% for(let i=0; i < team.length; i++) { %>
                            <option value="<%=team[i]._id%>"><%=team[i].name%></option>
                          <% } %>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Select Team two</label>
                    <select name="team_two" id="team_two" class="form-control">
                        <option value="">Select Team</option>
                    </select>  
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Expect to win</label>
                    <select name="team_ex" id="team_ex" class="form-control">
                        <option value="">Select Team</option>
                    </select>  
                  </div>
                  <div class="form-group">
                    <label for="exampleInputEmail1">Select Sports</label>
                    <select name="sport" id="sport" class="form-control">
                        <option value="">Select sports</option>
                        <% for(let i=0; i < sport.length; i++) { %>
                            <option value="<%=sport[i]._id%>"><%=sport[i].name%></option>
                          <% } %>
                    </select>
                  </div>
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="game-save">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="modal fade" id="modal-win-default">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title"><Span class="div-class"></Span> Winner Announce</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Winner Team </label>
                    <select name="win_team" id="win_team" class="form-control">
                      <option value="">Select Win Team</option>
                  </select>
                  <input type="hidden" name="id" id="game_winner_id">
                  </div>
                  <br />
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" id="win-save">Save</button>
              </div>
            </div>
        </div>
      </div>
    </div>  

      <%- include('../../partials/footer.ejs') %>
        <%- include('../../partials/dataTableScript.ejs') %>
          <script>

            $(document).on('click', '#add-game', function () {
              $("#game-form").trigger("reset");
              var validator = $('#game-form').validate();
              validator.resetForm();
               $('.div-class').html('Create');
              $('.form-control').removeClass('is-invalid')
              $('#game_id').val('')
              $('#team_ex').html("<option value=''>Select Team</option>")
              $('#team_two').html("<option value=''>Select Team</option>")

            })
            $(function(){

                $("#start_date").datepicker({

                    minDate: new Date()

                });
            });
            function showList(){
            
              var url = "<%= routeUrl %>game-listing";
                var t = $('#example2').DataTable({
                  "processing": true,
                "serverSide": true,
                "aaSorting": [[0, "desc"]],
                "pageLength": 10,
                "dom": '<"pull-left"f><"pull-right"l>tip',
                "scrollX": false,
                    'ajax': {
                        'type': 'GET',
                        'url': url,
                        error: function () {
                        $(".users-error").html("");
                        $("#users").append('<tbody class="users-error"><tr><th colspan="3">No data found </th></tr></tbody>');
                        $("#users_processing").css("display", "none");
                    }
                    },
                    "drawCallback": function (settings) {
                    $('[data-toggle="tooltip"]').tooltip();
                },
                "aoColumns": [
                    { data: '_id', "sWidth": "3%", orderable: false },
                    { data: 'name', "sWidth": "10%" },
                    { data: 'place', "sWidth": "10%" },
                    { data: 'team1_id', "sWidth": "10%" },
                    { data: 'team2_id', "sWidth": "5%", orderable: false },
                    { data: 'sport_id', "sWidth": "5%", orderable: false },
                    { data: 'win_expect_id', "sWidth": "5%", orderable: false },
                    { data: 'start_date', "sWidth": "5%", orderable: false },
                ]
                    });
            };
            showList()
         
            $(document).on('change','#team_one',function(){
               let team_id = $(this).val()
               $('#team_ex').html("<option value=''>Select Team</option>")
               $('#team_two').html("<option value=''>Select Team</option>")
               var url = "<%= routeUrl %>team-get";
              if(team_id){
                
               $.ajax({
                  type: "POST",
                  url: url,
                  data: {team_id:team_id},
                  dataType: "json",
                  success: function (data) {

                    var selectOpion = ""
                    if(data.data.teamList.length>0){
                      selectOpion+="<option value=''>Select Team</option>"
                      data.data.teamList.forEach(element => {
                          selectOpion+="<option value='"+element._id+"'>"+element.name+"</option>"
                      });
                      $('#team_two').html(selectOpion)
                    }
                  }
                });
              }
            });
            $(document).on('change','#team_two',function(){
               let team_id1 = $("#team_one").val()
               let team_id2 = $("#team_two").val()
               array = [];
               array.push(team_id1);
               array.push(team_id2);
               var url = "<%= routeUrl %>team-get-expet";
               if(array.length>0){

               $.ajax({
                  type: "POST",
                  url: url,
                  data: {
                    teams:array,
                  },
                  dataType: "json",
                  success: function (data) {

                    var selectOpion = ""
                    if(data.data.teamList.length>0){
                      selectOpion+="<option value=''>Select Team</option>"
                      data.data.teamList.forEach(element => {
                          selectOpion+="<option value='"+element._id+"'>"+element.name+"</option>"
                      });
                      $('#team_ex').html(selectOpion)
                    }
                  }
                });
               }

            });

            jQuery.validator.addMethod("noSpace", function (value, element) {
              // return value.indexOf(" ") < 0 && value != "";
              return value == '' || value.trim().length != 0;  
            }, "No space please and don't leave it empty");

            $("#game-form").validate({
              rules: {
                name: {
                  required: true,
                  noSpace: true
                },
                place: {
                  required: true,
                  noSpace: true
                },
                start_date: {
                  required: true,
                  noSpace: true
                },
                team_one: {
                  required: true,
                },
                team_two: {
                  required: true,
                },
                sport: {
                  required: true,
                },
               
              },

              messages: {
                name: {
                  required: "Please Enter Name"
                },
                place: {
                  required: "Please Enter Place"
                },
                start_date: {
                  required: "Please Enter Start Date"
                },
                team_one: {
                  required: "Please Enter Team One"
                },
                team_two: {
                  required: "Please Enter Team two"
                },
                sport: {
                  required: "Please Enter sport"
                },
              },
              errorElement: 'span',
              errorPlacement: function (error, element) {
                error.addClass('invalid-feedback');
                element.parent().append(error);
              },
              highlight: function (element, errorClass, validClass) {
                $(element).addClass('is-invalid');
              },
              unhighlight: function (element, errorClass, validClass) {
                $(element).removeClass('is-invalid');
              },

              submitHandler: function (form) {

                $(".fa-category").show();
                $("#game-save").attr('disabled', 'disabled');

                var url = "<%= routeUrl %>game-create";
                if($('#game_id').val()){
                      url = "<%= routeUrl %>game-update";
                }

                $.ajax({
                  type: "POST",
                  url: url,
                  data: $("#game-form").serialize(),
                  dataType: "json",
                  success: function (data) {
                    if (data.data.status == 1) {
                      $("#modal-default").modal("hide");
                      $("#game-save").attr('disabled', false);
                      $("#game-form").trigger("reset");
                      toastr.success(data.message);
                        setTimeout(function() {
                          location.reload()
                        }, 1000);
                    } else {
                      $("#game-save").attr('disabled', false);
                      toastr.error(data.message);
                    }
                  }
                });
                return false;
              }
            });
            
            $(document).on("click", ".edit-game", function () {
 
              var validator = $('#game-form').validate();
              validator.resetForm();
              $('.div-class').html('Edit');
              $('.form-control').removeClass('is-invalid')
              var url = "<%= routeUrl %>game-edit";

              var id = $(this).data('id');
              $('#game_id').val(id)
              $.ajax({
                  type: "POST",
                  url: url,
                  data: {id:id},
                  dataType: "json",
                  success: function (data) {
                    $('#name').val(data.data.teamList.name);
                    $('#place').val(data.data.teamList.place);
                    $('#start_date').val(moment(data.data.teamList.start_date,'YYYY-MM-DD hh:mm a').format('MM/DD/yyyy'));
                    $('#team_one').val(data.data.teamList.team1_id)
                    $('#sport').val(data.data.teamList.sport_id)
                    $('#team_one').trigger('change')
                    setTimeout(function() {
                      $('#team_two').val(data.data.teamList.team2_id)
                     $('#team_two').trigger('change')
                    }, 100);
                    setTimeout(function() {
                      $('#team_ex').val(data.data.teamList.win_expect_id)
                    
                    },200);

                  }
                });
            });
            $(document).on('click','.win-game',function(){
             
              var url = "<%= routeUrl %>game-win";

              var id = $(this).data('id');

              $.ajax({
                  type: "POST",
                  url: url,
                  data: {
                    id:id,
                  },
                  dataType: "json",
                  success: function (data) {
                      $('#game_winner_id').val(data.data._id)
                      var selectOpion=""
                      selectOpion+="<option value='"+data.data.team_one_id+"'>"+data.data.team_one+"</option>"
                      selectOpion+="<option value='"+data.data.team_two_id+"'>"+data.data.team_two+"</option>"
                      $('#win_team').html(selectOpion)
                  }
                });
            })

            $(document).on('click','#win-save',function(){
             
             var url = "<%= routeUrl %>game-win-save";

             var id = $('#game_winner_id').val()
             var win_team_id = $('#win_team').val();

             $.ajax({
                 type: "POST",
                 url: url,
                 data: {id:id,
                  win_team_id:win_team_id
                },
                 dataType: "json",
                 success: function (data) {
                  if (data.data.status == 1) {
                     $("#modal-win-default").modal("hide");
                      toastr.success(data.message);
                      setTimeout(function() {
                          location.reload()
                        }, 1000);
                  }
                 }
               });
           })
           $(document).on("click", ".delete-game", function () {
                var id = $(this).data('id');
                Swal.fire({
                    title: "Are you sure?",
                    text: "Are you sure want to delete this record ?",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonClass: "btn-success",
                    confirmButtonText: "Yes",
                    cancelButtonText: "No",
                }).then(function (result) {
                    if (result.isConfirmed == true) {
                        var url = "<%= routeUrl %>game-delete";
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: { id: id},
                            dataType: "json",
                            success: function (json) {

                                if (json.message != '') {
                                  toastr.success(json.message);
                                  setTimeout(function() {
                                  location.reload()
                                }, 1000);

                                }
                            }
                        });
                    }
                });
            });
        </script>
          </body>

          </html>