<%- include('../../partials/header.ejs') %>
    <div class="toolbar py-2" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex align-items-center">
            <div class="flex-grow-1 flex-shrink-0 me-5 flex-wrap"></div>
            <div class="d-flex align-items-center flex-wrap">
                <div class="flex-shrink-0 me-2">
                    <h1 class="d-flex align-items-center text-dark fw-bold my-1 fs-3"><a href="/admin/dashboard">Dashboard</a>
                        <span class="h-20px border-gray-200 border-start ms-3 mx-2">/</span>
                        <small class="text-muted fs-7 fw-semibold my-1 ms-1"><%= pageName %></small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div id="kt_content_container" class="container-xxl">
            <div class="card card-flush">
                <!--begin::Card header-->
                <!-- <div class="card-header align-items-center py-5 gap-2 gap-md-5"> -->
                <!--begin::Card title-->
                <!-- <div class="card-title"> -->
                <!-- <span class="card-label fw-bold fs-3">Contacts</span> -->
                <!--begin::Search-->
                <!-- <div class="d-flex align-items-center position-relative my-1"> -->
                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                <!-- <span class="svg-icon svg-icon-1 position-absolute ms-4">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                </svg>
                            </span> -->
                <!--end::Svg Icon-->
                <!-- <input type="text" data-kt-docs-table-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Search" /> -->
                <!-- </div> -->
                <!--end::Search-->
                <!-- </div> -->

                <!-- </div> -->
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="contact-list">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">

                                <th>No</th>
                                <th>User Name</th>
                                <th>Email</th>
                                <th>Contact No</th>
                                <th>Message</th>
                                <th>IsResolved</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600" class="text-center">
                            <% for(let i=0; i < data.length; i++) { %>
                                <tr>
                                    <td class=" pe-0">
                                        <span class="fw-bold"><%= i+1 %></span>
                                    </td>
                                    <td class=" pe-0">
                                        <span class="fw-bold"><%= data[i].userName %></span>
                                    </td>
                                    <td class="pe-0">
                                        <span class="fw-bold"><%= data[i].email %></span>
                                    </td>
                                    <td class="pe-0">
                                        <span class="fw-bold"><%= data[i].contactNo %></span>
                                    </td>
                                    <td>
                                        <span class="fw-bold text-break"><%= data[i].message %></span>
                                    </td>
                                    <td class="pe-0">
                                        <!-- <span class="fw-bold"><%= data[i].isResolved %></span> -->
                                        <!-- <div class="col-lg-8 d-flex"> -->
                                        <div class="form-check form-check-solid form-switch" style="display: inline-block;">
                                            <input class="form-check-input w-45px h-30px " type="checkbox" id="customSwitch<%= data[i].id %>" name="isActive" onchange="activeToggle('<%= data[i]._id %>')" <% if (data[i].isResolved) { %> checked
                                            <% } %> >
                                                <label class="form-check-label" for="allowmarketing"></label>
                                        </div>
                                        <!-- </div> -->
                                    </td>
                                </tr>
                                <%}%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
        <%- include('../../partials/footerScript.ejs') %>
            <script src="<%= siteUrl %>assets/plugins/custom/datatables/datatables.bundle.js"></script>
            <script>
                $("#contact-list").DataTable({
                    columnDefs: [{
                        "orderable": false,
                        "targets": [5]
                    }],
                    scrollX: false,
                    paging: true,
                    pageLength: 10,
                    lengthChange: false,
                    dom: "<'row'" +
                        "<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
                        "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
                        ">" +

                        "<'table-responsive'tr>" +

                        "<'row'" +
                        "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                        "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                        ">"
                })

                function activeToggle(id) {
                    var url = "<%= routeUrl %>contactus/resolve"
                    $.ajax({
                        url: url,
                        method: 'post',
                        data: {
                            id: id
                        },
                        success: function(res) {
                            var title = "contactus resolved/not resolved successfully."
                            toastr.success(title);
                        }

                    })
                }
            </script>

            </body>

            </html>