<%- include('../../partials/header.ejs') %>
    <div class="toolbar py-2" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex align-items-center">
            <div class="flex-grow-1 flex-shrink-0 me-5 flex-wrap"></div>
            <div class="d-flex align-items-center flex-wrap">
                <div class="flex-shrink-0 me-2">
                    <h1 class="d-flex align-items-center text-dark fw-bold my-1 fs-3"><a href="/admin/dashboard">Dashboard</a>
                        <span class="h-20px border-gray-200 border-start ms-3 mx-2">/</span>
                        <small class="text-muted fs-7 fw-semibold my-1 ms-1"><%= pageName %></small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div id="kt_content_container" class="container-xxl">
            <div class="card mb-5 mb-xl-10">
                <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
                    <div class="card-title m-0">
                        <h3 class="fw-bold m-0">
                            <%= pageName %>
                        </h3>
                    </div>
                </div>
                <div id="kt_account_settings_profile_details" class="collapse show">
                    <form class="form w-100" method="post" id="form">
                        <div class="card-body border-top p-9">
                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">Promo Code</label>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6 fv-row">
                                            <input type="text" id="promocode" name="promocode" class="form-control form-control-lg" placeholder="Promo code" autocomplete="off" value="<%= code %>" readonly/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-6">
                                <label class="col-lg-4 col-form-label required fw-semibold fs-6">User Name</label>
                                <div class="col-lg-8">
                                    <div class="row">
                                        <div class="col-lg-6 fv-row">
                                            <div class="mb-10">
                                                <div>
                                                    <select name="user" id="user" data-control="select2" data-placeholder="Select a position..." class="form-select form-select-solid">
                                                        <option value=""></option>
                                                        <% for(let i=0; i < user.length; i++) { %>
                                                            <option value="<%= user[i]._id %>"><%= user[i].userName %></option>
                                                            <%}%>
													</select>
                                                </div>
                                                <label id="user-error" class="error" for="user"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-end py-6 px-9">
                            <button type="reset" class="btn btn-light btn-active-light-primary me-2" onclick="cancelPromocode()">Cancel</button>
                            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                            <button type="submit" class="btn btn-primary">
                                <span class="indicator-label">
                                    Submit
                                </span>
                                <span class="indicator-progress">
                                    Please wait... <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
        <%- include('../../partials/footerScript.ejs') %>


            <script>
                function cancelPromocode() {
                    window.location.href = '<%= routeUrl %>promocode'
                }
                var url = "<%= routeUrl %>promocode/create";
                $(document).ready(function() {
                    jQuery.validator.addMethod("noSpace", function(value, element) {
                        value = value.trim();
                        return value != "";
                    }, "No space please and don't leave it empty");
                    $('#form').validate({
                        rules: {
                            user: {
                                required: true,
                            },
                        },
                        messages: {
                            user: {
                                required: "Please select user",
                            },
                        },
                        submitHandler: function(form) {
                            $(".flash_message").remove();

                            var promocode = $('#promocode').val();
                            var user_id = $('#user').val();
                            // var isActive = switchStatusValue;
                            $.ajax({
                                url: url,
                                method: 'POST',
                                data: {
                                    user_id: user_id,
                                    promocode: promocode,
                                },
                                beforeSend: function() {
                                    $("#form").find('button[type=submit]').attr("data-kt-indicator", "on").attr('disabled', true);
                                },
                                success: function(response) {
                                    $("#form").find('button[type=submit]').attr("data-kt-indicator", "on").attr('disabled', true);
                                    if (response.success == true) {
                                        var title = "New promo code created successfully."
                                        var routeurl = "<%= routeUrl %>promocode"
                                        toastr.success(title);
                                        setTimeout(function() {
                                            window.location.href = routeurl;
                                        }, 1000);
                                        // Swal.fire({
                                        //     title: title,
                                        //     icon: "success",
                                        //     type: "success",
                                        //     showCancelButton: false,
                                        //     confirmButtonClass: "btn-danger",
                                        //     confirmButtonText: "Ok",
                                        //     closeOnConfirm: true,
                                        // }).then((result) => {
                                        //     if (result.isConfirmed) {
                                        //         window.location.href = routeurl;
                                        //     }
                                        // })
                                    } else {
                                        $("#form").find('button[type=submit]').attr("data-kt-indicator", "off").attr('disabled', false);
                                        toastr.error(title);
                                        // $("<div class='flash_message alert alert-danger' role='alert'><span>" + response.error + "</span></div>").insertBefore("form");
                                    }
                                },
                                error: function(response) {
                                    console.log(response);
                                }
                            })
                        }
                    });
                })
            </script>

            </body>

            </html>