<%- include('../../partials/header.ejs') %>
    <div class="toolbar py-2" id="kt_toolbar">
        <div id="kt_toolbar_container" class="container-fluid d-flex align-items-center">
            <div class="flex-grow-1 flex-shrink-0 me-5 flex-wrap"></div>
            <div class="d-flex align-items-center flex-wrap">
                <div class="flex-shrink-0 me-2">
                    <h1 class="d-flex align-items-center text-dark fw-bold my-1 fs-3"><a href="/admin/dashboard">Dashboard</a>
                        <span class="h-20px border-gray-200 border-start ms-3 mx-2">/</span>
                        <small class="text-muted fs-7 fw-semibold my-1 ms-1"><%= pageName %></small>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div id="kt_content_container" class="container-xxl">
            <div class="card card-flush">
                <!--begin::Card header-->
                <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                    <!-- <div class="d-flex align-items-center position-relative my-1">
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                             <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                  xmlns="http://www.w3.org/2000/svg">
                                 <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
                                       transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
                                 <path
                                     d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
                                     fill="currentColor"></path>
                             </svg>
                         </span>
                        <input type="text" data-kt-docs-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="Search Contacts">
                    </div> -->
                    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                        <a href="/admin/promocode/create" class="btn btn-primary">Add Promo Code</a>
                    </div>
                </div>
                <!--end::Card header-->
                <!--begin::Card body-->
                <div class="card-body pt-0">
                    <!--begin::Table-->
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="promocode-list">
                        <!--begin::Table head-->
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">

                                <th>No</th>
                                <th>Code</th>
                                <th>Used/Unused</th>
                                <th>Used User</th>
                                <th>Created For User</th>
                                <th>Created Date</th>
                                <th>Is Active</th>
                            </tr>
                        </thead>
                        <tbody class="fw-semibold text-gray-600" class="text-center">
                            <% for(let i=0; i < data.length; i++) { %>
                                <tr>
                                    <td>
                                        <span class="fw-bold"><%= i+1 %></span>
                                    </td>
                                    <td>
                                        <span class="fw-bold"><%= data[i].code %></span>
                                    </td>
                                    <td>
                                        <span class="fw-bold badge badge-light-primary"><%= data[i].useOfUserId ? "Used" : "Unused" %></span>
                                    </td>
                                    <td>
                                        <span class="fw-bold"><%= data[i].useOfUserId ? data[i].useOfUserId.userName : "-" %></span>
                                    </td>
                                    <td>
                                        <span class="fw-bold"><%= data[i].authorOfUserId ? data[i].authorOfUserId.userName : "-" %></span>
                                    </td>
                                    <td>
                                        <span class="fw-bold"><%= data[i].createdAt.toLocaleDateString('en-us', { year:"numeric", month:"short", day:"numeric"}) %></span>
                                    </td>
                                    <td>
                                        <div class="form-check form-check-solid form-switch" style="display: inline-block;">
                                            <input class="form-check-input w-45px h-30px cursor-pointer" type="checkbox" id="customSwitch<%= data[i].id %>" name="isActive" onchange="activeToggle('<%= data[i]._id %>')" <% if (data[i].isActivate) { %> checked
                                            <% } %> >
                                                <label class="form-check-label" for="allowmarketing"></label>
                                        </div>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <%- include('../../partials/footer.ejs') %>
        <%- include('../../partials/footerScript.ejs') %>
            <script src="<%= siteUrl %>assets/plugins/custom/datatables/datatables.bundle.js"></script>
            <script>
                $("#promocode-list").DataTable({
                    columnDefs: [{
                        "orderable": false,
                        "targets": [0]
                    }, ],
                    paging: true,
                    pageLength: 10,
                    lengthChange: false,
                    dom: "<'row'" +
                        "<'col-sm-6 d-flex align-items-center justify-conten-start'l>" +
                        "<'col-sm-6 d-flex align-items-center justify-content-end'f>" +
                        ">" +

                        "<'table-responsive'tr>" +

                        "<'row'" +
                        "<'col-sm-12 col-md-5 d-flex align-items-center justify-content-center justify-content-md-start'i>" +
                        "<'col-sm-12 col-md-7 d-flex align-items-center justify-content-center justify-content-md-end'p>" +
                        ">"
                })

                function activeToggle(id) {
                    var url = "<%= routeUrl %>promocode/status"
                    $.ajax({
                        url: url,
                        method: 'post',
                        data: {
                            id: id
                        },
                        success: function(res) {
                            var title = "Promocode active/deactive successfully."
                            toastr.success(title);
                        }

                    })
                }
            </script>

            </body>

            </html>